body {
  background-color: #E4AEBD;
}

.header > h3 {
  color: #F7EE80;
}

.bookshelf-container {
  display: flex;
  flex-flow: wrap;
  width: 90%;
  justify-content: center;
}

.book-cell {
  width: 24.7%;
  height: 25rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8%;
}

.book-cell:hover {
  background-color: #EFC000;
}

.book-cell > img {
  width: 50%;
}

.book-cell > h4 {
  width: 60%;
  margin-bottom: 0;
}

h4 + p {
  margin-top: 0;
  width: 60%;
  font-size: 12px;
}


.book-cell:nth-child(4n + 2) {
  border-left: 2px;
  border-right: 1px;
  border-style: solid;
  border-color: black;
}

.book-cell:nth-child(4n + 3) {
  border-left: 1px;
  border-right: 2px;
  border-style: solid;
  border-color: black;
}

@media screen and (max-width: 760px) {
  .book-cell {
    width: 46.3%;
    height: 20rem;
  }

  .book-cell > p {
    width: 90%;
    text-align: center;
  }

  .book-cell:nth-child(odd) {
    border-left: 2px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
  }

  .book-cell:nth-child(even) {
    border-left: 1px;
    border-right: 2px;
    border-style: solid;
    border-color: black;
  }
}
