body {
  background-color: #EFC000;
  /*background-color: #EDCB64;*/
}

li > h4 {
  color: #BE7798;
}

li > h4:hover {
  text-decoration: underline;
}

.listing-subtitle-container {
  display: flex;
}

.listing-subtitle-container > p {
  margin-top: 0;
}

.listing-subtitle-container > a {
  margin-right: 2px;
}
