<div class="intro-container">
    <div class="intro">
        <p><b>Hello, I'm Steven Chun. This is my blog.</b> It exists <i>mostly</i> to prevent further
            atrophy of my writing abilities and as a research notebook for topics in
            computer science, statistics, and economics. It exists <i>partly</i> because I'm
            a vain person. In most of my writing, I hope to explain complicated things simply.
            If you're curious about my current affiliations, see <a href="http://www.stevenchun.me">my homepage.</a></p>
    </div>
</div>
