body {
  background-color: #EFC000;
  /* background-color: #113D30; Good for homepage w white text though! */
}

li > h4 {
  color: #BE7798;
  color: black;
}

li > h4:hover {
  text-decoration: underline;
}

.header > h3 {
  color: black;
}

.listing-subtitle-container {
  display: flex;
}

.listing-subtitle-container > p {
  margin-top: 0;
}

.listing-subtitle-container > a {
  margin-right: 2px;
}
