/* Custom code for blog */

/* override body to remove column positioning */
body {
  width: inherit;
  padding: 0;
  background-color: #fffffe;
}

.body-container {
  display: flex;
  justify-content: center;
}

.content {
  width: 55%;
}

title, h1, h2, h3, h4 {
  font-family: 'Space Mono';
}

p {
  line-height: 1.6rem;
}

p, ol, ul {
  font-size: 1.2rem;
}

p, footer, table, div.table-wrapper-small, div.supertable-wrapper > p, div.booktabs-wrapper {width: 80%;}

.sidenote, .marginnote {
    font-size: 1rem;
}

/* repeat all media queries so they apply */
@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

@media screen and (max-width: 760px) { p, footer { width: 100%; }

                                       pre.code { width: 87.5%; }
                                       ul { width: 85%; }
                                       figure { max-width: 90%; }
                                       figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                                                                 max-width: none; }
                                       blockquote p, blockquote footer { width: 90%; }}

@media (max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            pre.code { width: 90%;
                                       padding: 0; }
                            .table-caption { display: block;
                                             float: right;
                                             clear: both;
                                             width: 98%;
                                             margin-top: 1rem;
                                             margin-bottom: 0.5rem;
                                             margin-left: 1%;
                                             margin-right: 1%;
                                             vertical-align: baseline;
                                             position: relative; }
                            div.table-wrapper, table, table.booktabs { width: 85%; }
                            div.table-wrapper { border-right: 1px solid #efefef; }
                            img { width: 100%; }
                          }

@media screen and (max-width: 760px) {
  .content {width: 90%;}
}
